---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mapping">
	<main>
		<h1>Animations</h1>
		<div class="content-wrap">
			<ul class="content">
				<li>
					<a href="project/project-01"
						><span> 01 - project-01 </span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"
						>
							<path
								d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
							></path></svg
						>
					</a>
				</li>
			</ul>
		</div>
	</main>
</Layout>

<style lang="scss">
	@keyframes slidein {
		from {
			opacity: 0;
			transform: scale(0.95) translateY(30px);
		}
		to {
			opacity: 1;
			transform: scale(1) translateY(0);
		}
	}
	main {
		font-family: Geist, Helvetica, Arial, sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	main h1 {
		font-family: "Rethink Sans";
		font-size: 56px;
		margin-top: 24px;
		margin-bottom: 18px;
		text-shadow: 0px 2px 30px
			color-mix(in srgb, var(--text-200) 30%, transparent);
	}
	main .content-wrap {
		position: relative;
		background: linear-gradient(
			235deg,
			var(--primary-700),
			var(--primary-800)
		);
		padding: 2px;
		border-radius: 8px;
		width: 100%;
		height: 100%;
		max-width: 420px;
		max-height: 600px;
		box-shadow: 4px 2px 50px var(--background-900);
		animation: 0.8s ease-out slidein;
	}
	main .content {
		/* background-color: var(--background-920); */
		background: linear-gradient(
			75deg,
			var(--background-900),
			var(--background-920)
		);
		border-radius: 6px;
		padding: 4px;
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		li {
			background: linear-gradient(
				235deg,
				var(--primary-700),
				var(--primary-800)
			);
			border-radius: 2px;
			font-size: 18px;
			font-family: monospace;
			color: var(--text-200);
			opacity: 0.9;
			transition: all 0.4s;
			&:hover {
				box-shadow: 0px 2px 50px var(--background-900);
				cursor: pointer;
				opacity: 1;
			}
			a {
				transition: all 0.4s;
				display: flex;
				padding: 8px;
				justify-content: space-between;
				align-items: center;
				&:hover svg {
					opacity: 0.8;
				}
				svg {
					height: 18px;
					widht: 18px;
					fill: var(--text-50);
					transition: opacity 0.4s ease-out;
					opacity: 0;
				}
			}
		}
	}
</style>
